.cache/
.config/chromium/
.config/spotify/
.config/tox/
.config/Code/
.config/ranger/history
.config/Lindo/
.config/qBittorrent/
.config/GIMP/
.config/pulsebak/
.config/pulse_backup/
.config/matplotlib/
.config/gtk-2.0/
.config/gtk-3.0/
.config/0ad/
.config/mpd/mpd.state
.config/mpd/state
.config/mpd/mpd.log
.config/cef_user_data/
.config/gconf/
.config/sublime-text-3/
.config/nvim/plugged/
.config/Code - OSS

.dbus/
.local/
.mozilla/
.oh-my-zsh/
.ssh/
.fehbg
