.cache/
.config/chromium/
.config/spotify/
.config/tox/
.config/Code/
.config/Lindo/
.config/qBittorrent/
.config/GIMP/
.config/pulsebak/
.config/pulse_backup/
.config/matplotlib/
.config/gtk-2.0/
.config/gtk-3.0/
.config/0ad/
.config/cef_user_data/
.config/gconf/
.config/sublime-text-3/

.dbus/
.local/
.mozilla/
.oh-my-zsh/
.ssh/
